@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("fonts.css");

html {
  font-family: "HerbalifeNatural", sans-serif;
}

.bg-cor-burgundy {
  background-color: #bd2347;
}

.h-9-16 {
  height: calc(100vw * (315 / 560));
}


.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-1 {
  background-image: url("./assets/images/shape-control-1.png");
}
.bg-img-2 {
  background-image: url("./assets/images/shape-control-2.png");
}

.bg-img-3 {
  background-image: url("./assets/images/bg-shape-3.png");
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-custom li::marker {
  content: "•";
}

.li-custom li {
  padding-left: 10px;
}

.li-1 li::marker {
  color: #42a146;
}
.li-2 li::marker {
  color: #000;
}
.li-3 li::marker {
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
